.butttons{
    display: inline-block !important    ;
}
.butttons .left{
    float: inline-start !important;
}
.butttons .next{
    float: left !important;
}
h1{
    margin-left: 50px !important;
    margin-top:140px !important;
}
.elementor-element-d1ed8cb{
    width: 100% !important;
    height: 150% !important;
}
.elementor-element-8075c28{
    margin-top:50px !important;
    margin-left: 50px !important;
    display: inline-block !important;
}
.elementor-element-7b0e18c{
    margin: auto !important;  
    display: inline-block !important;
}
.elementor-element-a8fd5e1{
    width: 150% !important;
}

.main1{
    width: 50% !important;
    height: 100% !important;
    display: inline-block !important;

}
.main2{
    width: 50% !important;
    height: 100% !important;
    display: inline-block !important;
    position: absolute !important;
    top: 11%;
    right: 1%;
}
.carousel-control-prev{
    width: 2px;
    height: 100%;
    background-color: rgba(0,0,0,0.1) !important;
}
.carousel-control-next{
    width: 2px;
    height: 100%;
    background-color: rgba(0,0,0,0.1) !important;    
}
.main12 img{
    width: 90% !important;
    height: 90% !important;
}